/* Created by: Emre Guzel
* Created on: Feb 20 2025 
* This file contains the CSS for index.html
*/
body {
  background: darkred;
}

a {
  background: black !important;
  color: white !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}