/* Created by: Emre Guzel
* Created on: Feb 20 2025 
* This file contains the CSS for index.html
*/
body {
  background: dodgerblue;
}

a {
  background: black !important;
  color: white !important;
}